*, 
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    line-height: 1.5;
    font-family: 'Nunito', sans-serif;
    color: #000;
    background: #FAF0F0;
}

h1, h2, h3 {
    line-height: 1.1;
    font-family: 'Libre Baskerville', serif;
}

ul[role="list"] {
    list-style: none;
}

a {
    text-decoration: none;
    color: unset;
}

img,
picture,
video {
    max-width: 100%;
    display: block;
    height: auto;
}

input, 
textarea,
select,
button {
    color: unset;
    font: unset;
}


/* Utilites */

.container {
    max-width: 75rem;
    padding-inline: 2rem;
    margin-inline: auto;
}

.flex {
    display: flex;
    flex-direction: column;
    gap: var(--gap, 1rem);
}

.btn {
    display: inline-block;
    padding: 0.65em 2.5em;
    background-color: #B0152E;
    font-size: 1rem;
    color:  #fff;
}


.section-title {
    text-align: center;
    margin-bottom: 3rem;
}

.section-title::after {

}

/********************* Header ****************/

.header {
    height: 100vh;
    background-image: url("./images/slider.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center ;
    position: relative;

}

.header::after {
    position: absolute; 
    content: '';
    background: linear-gradient(180deg, rgba(196, 196, 196, 0) 0%, rgba(46, 36, 103, 0.69) 98.96%);
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;

    z-index: 1;
}

/* Navigation */

.main-nav {
    padding-block: 2rem;
    width: 100%;
    background: rgba(218, 218, 223, 0.76);
    box-shadow: 4px 19px 36px -33px rgba(0, 0, 0, 0.25);
}

.primary-navigation {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

@media(max-width: 768px) {
    .main-nav {
        position: absolute;
        top: 50px;
        z-index: 100;
        background: #fff;
        display: none;
    }

    .primary-navigation {
        flex-direction: column;
        gap: 1.5rem;
    }
}

/* Hero-content */

.hero-content {
    /* margin-top: auto; */
    height: 100%;
    text-align: center;
    justify-content: center;

    color: #fff;

    z-index: 10;
}

.hero-content .container {
    --gap: 2rem;
    padding-top: 10rem;
}

.hero-names {
    line-height: 1.4;
}

.hero-names span {
    display: block;
    text-transform: uppercase;
}

.hero-content .btn {
    align-self: flex-start;
    margin-inline: auto;
}



/* Our Story */

.our-story {
    background-color: #FAF0F0;
}

.our-story__header {
    text-align: center;
    padding-top: 4rem;
    padding-bottom: 2rem;
    position: relative;
}

.our-story__header img {
    width: 15rem;
    margin-inline: auto;
}

.our-story__heading-title {
    position: absolute;
    top: 48%;
    left: 50%;
    transform: translate(-50%);
    font-size: 1.2rem;
}

.our-story__content {
    --gap: 1.5rem;
    text-align: center;
    max-width: 60rem;
    width: 100%;
    margin-inline: auto;
    font-weight: 300;
    font-size: 1.125rem;

}

.our-story__img {
    margin-top: 5rem;
    outline: 1px solid red;
}

.our-story__arrow {
    display: flex;
    justify-content: center;
    padding-block: 2rem;
}

.yes {
    padding-block: 2rem;
    justify-content: center;
    align-items: center;
    margin-inline: auto;
}

.yes__content {
    background-color: #fff;
    max-width: 40rem;
    width: 100%;
}

.yes__quote {
    max-width: 20rem;
    font-size: 0.85rem;
    font-style: italic;
    font-weight: 300;
}

.flower {
    width: 20rem;
}

.yes__content-main {
    padding-inline: 5rem;
    padding-block: 3rem;
}

.yes__img {
    width: 100%;
    height: 18rem;
    border: 20px solid #B0152E;

    background-image: url('./images/said-yes.jpeg');
    background-size: cover;
    background-position: top center;
 }

 /************ Meet *****************/

 .meet {
     padding-block: 2rem;
 }

 .meet__header {
     text-align: center;
     padding-block: 5rem;
 }

 .meet__bride-content {
     background-color: #fff;
     padding: 3rem;
 }

 .meet__groom {
     margin-top: 5rem;
 }

 .meet__groom-content {
     background-color: #fff;
     padding: 3rem;
 }


/************ donate-section ***************/

.donate-section {
    background-color: #fff;
    padding-block: 6rem;
}

.donate {
    background-color: #FAF0F0;
    padding: 4rem;
    text-align: center;

    background-image: url("./images/flower2.png");
    background-repeat: no-repeat;
    background-position: left center;
    background-size: auto;
}

.donate__subtitle {
    margin-top: 2rem;
    font-size: 1.1rem;
    font-weight: 300;
    text-align: center;
}

.donate-details {
    margin-top: 5rem;
}

.donate__option {
    margin-top: 3rem;
}

.donate .btn {
    margin-top: 2rem;
}

/************ Venue Section ***********/

.venue-section,
.reception-section {
    padding-block: 2rem;
    background-color: #fff;
    
}

.venue__content,
.reception__content {
    text-align: center;
    --gap: 2rem;
}

.venue__img,
.reception__img {
    border: 2rem solid #73AAD730;

}

/************ Wedding Section ***********/

.wedding-crew {
    padding-block: 4rem;
    background: linear-gradient(181.13deg, #FEFCFE 0.96%, #F8E6FF 94.86%);
}


/************ Organising Section ***********/

.organising-crew {
    background: #F3D8FC;
    padding-block: 8rem;

    background-image: url("./images/flower4.png");
    background-repeat: no-repeat;
    background-position: 120px 0;
    background-size: 60%;
}

.organising-crew .container {
    margin-top: 3rem;
}

.organising-list > div {
    text-align: center;
    background-color: rgba(255,255,255,0.3);
    padding: 2rem;
    border-radius: 5px;
}


/********** Memories **************/

.memories {
    padding-block: 4rem;
    background-color: #fff;
}

.toast {
    background-color:  #F0E4F3;

}

.toast .container {
    padding-block: 10rem;
    justify-content: center;
    align-items: center;
    text-align: center;
}


.footer {
    background-color: #B0152E;

}

.footer .container {
    padding-block: 2rem;
    color: #fff;
    
    align-items: center;
}


@media(min-width: 50em) {

    .hero-names-m {
        margin-left: 10rem;
    }


    .our-story__images {
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 2rem;
    }

   .our-story__video {
        width: 60%;
    }

    .our-story__videosmall {
        width: 30%;
    }

    .yes {
        flex-direction: row;
        transform: translateX(10%);
       
    }

    .yes__img {
       width: 25rem;
       height: 18rem;

       transform: translateX(-50%);
    }

    /********* Meet Section *************/

    .meet__bride,
    .meet__groom {
        flex-direction: row;
        align-items: center;
    }

    .meet__bride-img,
    .meet__bride-content,
    .meet__groom-img,
    .meet__groom-content {
        width: 100%;
    }

  
    /******** Donate Section ***********/

    .donate-details {
        flex-direction: row;
        justify-content: space-around;
    }

    .donate__subtitle {
        max-width: 50rem;
        margin-inline: auto;
    }

    /* Venue Section */

    .venue-section .container,
    .reception-section .container {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }



    /* Wedding Crew */

    .wedding-crew .container {
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 2rem;
    }


    /* Organising Crew */

    .organising-list {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        justify-content: space-between;
        gap: 4rem;
    }


    /* Memories */

    .memories-list {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 2rem;
    }




}